@model GetAllCategoryDTO
@using FoodRecipe.Models.DTOs;
@section Styles {
    <style>
        /* Set background color to black */
        body {
            background-image: url(https://images.unsplash.com/photo-1636953056323-9c09fdd74fa6?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8fA%3D%3D);
            color: white;
        }

        /* Adjust positioning of content */
        #recipe-section {
            padding-top: 50px;
            padding-left: 100px;
        }

     
        
    </style>
}
<section id="recipe-section">
    <section id="about">
        <div class="menu_1 clearfix text-center">
        <h1>@Model.Name</h1>
    </div>
        <div class="col-sm-6 space_all">
            <div class="menu_2_left p-5 pt-5 " >
    <img class="category-image" src="@Model.ImgUrl" alt="Category Image" />
            </div>
        </div>
        <div class="col-sm-6 space_all">
            <div class="menu_2_right about_menu_right clearfix">
        <h2>Recipes:</h2>
        <ul>
            @foreach (var recipe in Model.Recipes)
            {
                <li>
                            <h3>  <a asp-action="Details" asp-controller="Recipe" asp-route-id="@recipe.RecipeId">@recipe.Title</a></h3>
                        </li>
            }
        </ul>
    </div>
    </div>
    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</section>
</section>