
@model List<CategoryDTO>
@using FoodRecipe.Models.DTOs
	

	<section id="center">
		<div class="center_main clearfix">
			<div class="container">
				<div class="row">
					<div class="center text-center clearfix">
						<h2 class="heading_tag">We’ve Some Quality Of Food </h2>
					<h1>Where Food Become Passion!</h1>
						<h3>Here You Can Find Any Recipe You Want</h3>
					<h4>
						<a class="tag_menu" asp-area="" asp-controller="Category" asp-action="Index">Check our Categories</a>
						
					</h4>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<section id="about_home">
	<div class="center_main about_home_main clearfix">
			<div class="container">
				<div class="row">
					<div class="about_home text-center clearfix">
						<h2><i class="fa fa-apple"></i></h2>
					<h1>Discover Our Culinary Bookstore</h1>
					<h3 class="heading_tag">Discover Culinary Delights Through Our Handpicked Cooking Books </h3>
					<p> Browse our collection today and embark on a culinary adventure filled with creativity, inspiration, and mouthwatering recipes. Elevate your cooking prowess and delight your family and friends with delicious homemade meals crafted from the expertise found in our cooking books.</p>
					<h4>	<a class="tag_menu" href="#">Check it now</a></h4>
				</div>
				</div>
			</div>
		</div>

	</section>
	






	<section id="menu_home" class="clearfix">
		<div class="menu_home clearfix">

@foreach (var category in Model)
{



			<div class="col-sm-4 space_all">
				<div class="menu_home_inner clearfix">
					<div class="grid clearfix">

						<figure class="effect-duke">
							<img src="@category.ImgUrl" alt="img17" width="100%" height="200px" style="padding:15px; margin:10px ;" />
							<figcaption>
								<h2>@category.Name</h2>

								<a asp-action="Details" asp-route-id="@category.CategoryID" class="btn btn-primary" asp-controller="Category">Details</a>
							</figcaption>
						</figure>
					</div>
				</div>
			</div>
}</div></section>
	<section id="offer_home">
		<div class="container">
			<div class="row">
				<div class="about_home text-center clearfix">
					<h2><i class="fa fa-apple"></i></h2>
					<h1>OFFER OF THE DAY</h1>
					<h3 class="heading_tag">Book your order</h3>
				</div>
				<div class="offer_home  clearfix">
					<div class="col-sm-4">
						<div class="offer_home_inner text-center">
							<a href="#"><img class="img-rounded" src="https://www.templateonweb.com/upload/aedemodir/0266e33d3f546cb5436a10798e657d97/img/7.jpg" width="100%" height="400px"></a>
							<h3><a href="#">SED CURSUS DAPIBUS</a></h3>
							<p class="heading_tag">Lorem, ipsum, dolor </p>
							<h2>$6.65</h2>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="offer_home_inner text-center">
							<a href="#"><img class="img-rounded" src="https://www.templateonweb.com/upload/aedemodir/0266e33d3f546cb5436a10798e657d97/img/8.jpg" width="100%" height="400px"></a>
							<h3><a href="#">IMPERDIET</a></h3>
							<p class="heading_tag">Dapibus, nulla, elementum </p>
							<h2>$6.65</h2>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="offer_home_inner text-center">
							<a href="#"><img class="img-rounded" src="https://www.templateonweb.com/upload/aedemodir/0266e33d3f546cb5436a10798e657d97/img/9.jpg" width="100%" height="400px"></a>
							<h3><a href="#">DUIS SAGITTIS IPSUM</a></h3>
							<p class="heading_tag">Integer, ipsum, libero </p>
							<h2>$6.65</h2>
						</div>
					</div>
				</div>
				<div class="offer_home_1 text-center  clearfix">
					<h4><a href="#">SEE DISHES</a></h4>
				</div>
			</div>
		</div>
	</section>

	
