@section Styles {
    <style>
        /* Set background color to black */
        body {
            background-image: url(https://homedecorbliss.com/wp-content/uploads/2022/07/Wood-planks-texture-background..jpg);
            color: white;
        }

        /* Adjust positioning of content */
        #recipe-section {
            padding-top: 200px;
        }

        /* Additional styles for recipe content */
        /* Add your custom styles here */



    </style>
}


<div class="recipe-section" style="display: flex; justify-content: center; align-items: center; height: 100vh;">
    <div style="text-align: center; padding: 20px; border-radius: 10px; color: #000000;">
        <h1 style="font-size: 36px;">Thank you for shopping with us!</h1>
        <p>Your purchase details have been sent to your email. Come back again soon.</p>
    </div>
</div>
