<!-- Section: Design Block -->
<section class="text-center h-100% vh-100 p-5   ">
    <!-- Background image -->
    <div class="p-5 bg-image" style="
        background-image: url('https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvcGYtbWlzYzQtamlyMzMzOS5qcGc.jpg');
        height:500px;
        "></div>
    <!-- Background image -->

    <div class="card mx-4 mx-md-5 shadow-5-strong mh-100 " style="
        margin-top: -100px;
        background: hsla(0, 0%, 100%, 0.8);
        backdrop-filter: blur(30px);
height:100% ;
padding-left :100px ;
        ">
        <div class="card-body py-5 px-md-5  ">

            <div class="row d-flex justify-content-center">
                <section class="vh-100 gradient-custom">
                    <div class="container py-5 h-100">
                        <div class="row d-flex justify-content-center align-items-center h-100">
                            <div class="col-lg-10 row-cols-7">
                                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                                    <div class="card-body p-5 text-center">
                                        <h2 class="fw-bold mb-5">Login now</h2>
                                        <form method="post" action="/Users/LogIn">

                                            <div class="form-outline mb-4  pb-5">
                                                    <div class="form-outline pb-5  pb-5">
                                                        <label class="form-label" for="username" style="color: black;">User Name:</label>
                                                        <input type="text" name="username" class="form-control" id="username">
                                                    </div>
                                                </div>
                                              
                                            
                                            <div class="form-outline mb-4  pb-5">
                                                <label class="form-label" for="password">Password:</label>
                                                <input type="password" name="password" class="form-control" id="password">
                                            </div>
                                            
                                           
                                            <button type="submit" class="btn btn-primary btn-block mb-4  pb-5">
                                              Log In
                                            </button>
                                            <p class="text-center text-muted mt-5 mb-0"> Don't have an account? <a asp-controller="Users" asp-action="SignUp"><u>Register here</u></a></p>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

            </div>
        </div>
    </div>
</section>
<!-- Section: Design Block -->























<div asp-validation-summary="All"></div>


















